pkgbase = igneous
	pkgdesc = Read and edit Markdown vaults, including Obsidian vaults, on GNOME
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/H4RL33/igneous
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = blueprint-compiler
	makedepends = cargo
	makedepends = meson
	depends = gcc-libs
	depends = git
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libspelling
	optdepends = git-crypt: sync vaults encrypted with git-crypt
	options = !lto
	source = igneous::git+https://github.com/H4RL33/igneous.git#tag=v0.1.0
	sha256sums = SKIP

pkgname = igneous
