pkgbase = igneous-git
	pkgdesc = Read and edit Markdown vaults, including Obsidian vaults, on GNOME (development version)
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 1
	url = https://igneous.invalid/igneous
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = blueprint-compiler
	makedepends = cargo
	makedepends = meson
	depends = gcc-libs
	depends = git
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libspelling
	optdepends = git-crypt: sync vaults encrypted with git-crypt
	provides = igneous
	conflicts = igneous
	options = !lto
	source = igneous::git+https://igneous.invalid/igneous.git
	sha256sums = SKIP

pkgname = igneous-git
